span.logo-paribas {
	 background-image: url("../html/images/ParibasLogo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    height: 58px;
    position: relative;
    width: 100%;
}

.yui3-calendarnav-prevmonth span,.yui3-calendarnav-nextmonth span{
	display: block !important;
}

span.seccion {
	background-color: #d5fcc6;
    display: block;
    text-align: center;
    height: 29px;
    color: #aaa1a1;
    border-bottom: 3px solid black;
    margin-bottom: 20px;
    margin-top: 45px;
    border-top: 3px solid black;
}

span.seccion-a {
	background-color: #FDD9BA;
	display: inline-block;
	text-align: center;
	width: 70%;
	height: 29px;
	color: #AAA1A1;
	border: 2px solid;
	margin-bottom: 20px;
	margin-top: 45px;
}

span.valoracion {
	width: 500px;
	height: 58px;
	background-color: #36935F;
	text-align: -moz-center;
	text-align: center;
	position: absolute;
	color: white;
	font-family: arial;
	font-size: small;
}

hr.separador {
	border-color: #1A1616 !important;
}


span.criterio-num {
	background-color: #D5FCC6;
	border: 1px solid;
	padding: 4px;
	border-color: #AA9B9B;
}

table.table-criterios td {
	margin: 10px;
	padding: 10px;
}

table.table-criterios {
	margin-bottom: 20px;
}

table.table-objetivos {
	border-color: white;
	border-style: none;
	border-color: white;
	border-collapse: separate;
	border-spacing: 3px;
	border-width: 1px;
	max-width:100%;
	display:block;
	overflow: auto;
	position: relative;
}

table.table-objetivos label{
	text-align: center;
}

table.table-objetivos tbody{
	position:relative;
	max-width: 100%;
}

table.table-objetivos tr{
	position: relative;
	width: 100%;
}


table.table-objetivos td {
	border-width: 1px;
	padding: 1px;
	border-style: dotted;
	border-color: gray;
	background-color: white;
	text-align: center;
	vertical-align: middle;
	margin: 0px;
}

table.table-objetivos thead{
	max-width: 100%;
	background-color: #449374;
}

table.table-objetivos thead td {
	background-color: #449374;
	color: white;
	font-family: arial;
	margin: 0px;
}

table.table-objetivos textarea{
 margin: 0;
}


table.table-competencias {
	border-style: none;
	border-color: white;
	border-collapse: separate;
	border-spacing: 10px;
	border-width: 1px;
	-webkit-border-horizontal-spacing: 50px;
	max-width:100%;
	overflow: auto;
	position: relative;
	margin: 0 auto;
}


table.table-competencias td {
	border-width: 1px;
	padding: 1px;
	border-style: dotted;
	border-color: gray;
	background-color: white;
	text-align: center;
}

table.table-competencias thead td {
	background-color: #449374;
	color: white;
	font-family: arial;
}

table.table-comp-profesional {
	border-color: white;
	border-style: none;
	border-color: white;
	border-collapse: separate;
	border-spacing: 5px;
	border-width: 1px;
/* 	width: 530px; */
/* 	max-width:100%; */
	overflow: auto;
    width: 100%;
}

table.table-comp-profesional td {
	border-width: 1px;
	padding: 1px;
	border-style: dotted;
	border-color: gray;
	background-color: white;
}

table.table-comp-profesional thead td {
	background-color: #449374;
	color: white;
	font-family: arial;
}

table.table-comp-gerencial {
	border-color: white;
	border-style: none;
	border-color: white;
	border-collapse: separate;
	border-spacing: 5px;
	border-width: 1px;
	max-width:100%;
}

table.table-comp-gerencial td {
	border-width: 1px;
	padding: 1px;
	border-style: dotted;
	border-color: gray;
	background-color: white;
}

table.table-comp-gerencial thead td {
	background-color: #449374;
	color: white;
	font-family: arial;
}

table.table-referentes {
	border-color: white;
	border-style: none;
	border-color: white;
	border-collapse: separate;
	border-spacing: 5px;
	border-width: 1px;
	max-width:100%;
	display: block;
	position: relative;
	overflow:auto;
}

table.table-referentes td {
	border-width: 1px;
	padding: 1px;
	border-style: dotted;
	border-color: gray;
	background-color: white;
}

table.table-referentes thead td {
	border-color: white;
	font-family: arial;
}

.subtitulo {
	text-align: center;
	font-weight: bold;
}


.aui select {
	width: 50px !important;
}

.datepicker-popover.popover {
	z-index: 100 !important;
}

.aui select aui-field-select select-gd {
	width: 230px !important;
}

#calificacion {
	padding-top: 20px;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 40px;
}


.control-group {
	margin-bottom: auto !important;
}

/* .dataTable{ */
/* 	max-width:100%; */
/* 	display: block; */
	
/* } */

.dataTable{
	max-width:100%;
	display: block;
	overflow: auto;
	
}

.dataTable tbody{
	max-width:100%;
	display: block;
	
}

.dataTable tbody tr{
	width: 100%;
	display: block;
	position: relative;
	
}

.dataTable tbody td{
	width: 16%;
	margin: 0 0;
	
}

.dataTable input{
	width: 180px;	
}

.tableCompromiso{
	max-width:100% !important;
	display: block;
    overflow: auto;
    position: relative;   
}

.tableCompromiso tbody{
	width: 100%;
}


.tablePlan{
max-width:100%;
margin: 5px;	
display: block;
position: relative;
overflow: auto;
}

.dataTable label {
	display: block;
    float: left;
    font-size: 0.7em !important;
    max-width: 120px !important;
    padding-left: 3px;
    padding-right: 2px;
    position: relative;
    font-weight: bold !important;
    margin-top: 5px;
}

.table_calif{
	max-width:100%;	
	display: block;
	position: relative;
	overflow: auto;
}

.table_calif td{
	height: 20px;
}

.table-comport{
	max-width: 100%;
	display: block;
	position: relative;
	overflow: auto;
}

#competencias{
	overflow: auto;
	display: block;
	
}

#capacitacion {
	 display: block;
	   width: 100%;
	      overflow: auto;
	      position: relative;
}
/* #capacitacion span{ */
/* 	overflow: auto; */
/* 	display: block; */
/* 	max-height: 100%; */
/* 	max-width: 100%; */
/* } */

#capacitacion textarea{
	border-color: black;
    display: block;
    margin: 0 auto;
    resize: none;
    width: 95%;
    display: block;
    overflow: auto;
    position: relative;
}

#comentarios{
	width: 100%;
	overflow: auto;
	display: block;
	position: relative;
}

#comentarios textarea {
	border-color: black;
	height: 100px;
    margin: 0 auto 10%;
    resize: none;
    width: 95%;
    display: block;
    overflow: auto;
    position: relative;
}

#principal{
	width: 100%; 
	border: 2px solid black;
	display: block;
	overflow: auto;
}
